
@font-face {
  font-family: 'Breetty';
  src: url('Breettyd41d.eot?#iefix') format('embedded-opentype'),  url('Breetty.woff') format('woff'), url('Breetty.ttf')  format('truetype'), url('Breetty.svg#Breetty') format('svg');
  font-weight: normal;
  font-style: normal;
}
